@import url('https://fonts.googleapis.com/css?family=Inter:700|Inter:400');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
	--body-font: "Inter", sans-serif;
	--header-font: "Poppins";
}

:root[data-theme="light"],
:root:not([data-theme]) {
	color-scheme: light;
	--text: #141414;
	--background: #FFFFFF;
	--primary: #81C5E0;
	--secondary: #CDEBF7;
	--accent-primary: #E77E7E;
	--accent-secondary: #FFB3B3;

	--success: #C8EBC3;
	--destructive: #EBC1C1;

	--component-shadow: 0 0 20px 1px #0000001A, 0 0 0 1px #0000001A;
}

:root[data-theme="dark"] {
	color-scheme: dark;
	--text: #E2E2E2;
	--background: #141414;
	--primary: #2E3679;
	--secondary: #1E224A;
	--accent-primary: #B85C5C;
	--accent-secondary: #E19595;

	--success: #1A3D14;
	--destructive: #3D1414;

	--component-shadow: 0 0 20px 1px #0000001A, 0 0 0 1px #FFFFFF1A;
}

html {
	scroll-behavior: smooth;
	scroll-padding-top: 3rem;
}

body {
	font-family: "Inter";
	font-weight: 400;
	padding: 1rem 12%;
	background-color: var(--background);
	color: var(--text);
}

h1,
h2,
h3,
h4,
h5 {
	font-family: "Inter";
	font-weight: 700;
}

html {
	scroll-behavior: smooth;
	font-size: 100%;
	/* 16px */
}

h1 {
	font-size: 4.210rem;
	/* 67.36px */
}

h2 {
	font-size: 3.158rem;
	/* 50.56px */
}

h3 {
	font-size: 2.369rem;
	/* 37.92px */
}

h4 {
	font-size: 1.777rem;
	/* 28.48px */
}

h5 {
	font-size: 1.333rem;
	/* 21.28px */
}

small {
	font-size: 0.750rem;
	/* 12px */
}