@import url("./defaults.css");

html:has(body nav) {
	scroll-padding-top: 7rem;
}

body {
	font-family: "Inter";
	font-weight: 400;
	padding: 1rem 12%;
	background-color: var(--background);
	color: var(--text);

	&:has(nav) {
		padding-top: 3rem;
	}
}

h1, h2, h3, h4, h5 {
	font-family: "Inter";
	font-weight: 700;
}

html {
	scroll-behavior: smooth;
	font-size: 100%; /* 16px */
}

h1 { font-size: 4.210rem; /* 67.36px */ }
h2 { font-size: 3.158rem; /* 50.56px */ }
h3 { font-size: 2.369rem; /* 37.92px */ }
h4 { font-size: 1.777rem; /* 28.48px */ }
h5 { font-size: 1.333rem; /* 21.28px */ }
small { font-size: 0.750rem; /* 12px */ }

nav {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100vw;
	padding: 0.25rem 12%;
	display: flex;
	flex-direction: row;
	background-color: var(--background);
	z-index: 2147483647;
	box-sizing: border-box;
	justify-content: space-between;
	align-items: center;
}

code {
	display: block;
	font-family: "JetBrains Mono";
	background-color: var(--secondary);
	white-space: pre-wrap;
	margin: 0.5rem;
	padding: 0.5rem;
	border-radius: 1rem;
	text-wrap: pretty;

	&[lang] {
		position: relative;
		padding-top: 3rem;

		&::before {
			position: absolute;
			display: block;
			top: 0.5rem;
			left: 0.5rem;
			border-radius: 1rem;
			box-sizing: border-box;
			padding: 1rem;
			padding-left: 3rem;
			width: calc(100% - 1rem);
			content: "language: " attr(lang);
			text-transform: uppercase;
			background-color: var(--primary);
		}
	}
}

.select-options:not(.chip) {
	box-shadow: var(--component-shadow);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 0.25rem;
	background-color: var(--background);
	border: 1px solid var(--secondary);
	width: max-content;
	padding: 0.25rem;
	border-radius: 1rem;
	font-family: "Inter";

	& .option {
		cursor: pointer;
		background-color: var(--secondary);
		padding: 1rem;
		border-radius: calc(1rem - 0.25rem);
		font-family: "Inter";
		font-size: 16px;
		border: none;
		outline: none;
		transition: transform, filter, background-color;
		transition-duration: 400ms;

		&:hover {
			filter: brightness(90%);
		}
	}
}

.select-option:not(.chip) {
	box-shadow: var(--component-shadow);
	display: inline-flex;
	flex-direction: column;
	position: relative;
	gap: 0.25rem;
	background-color: var(--background);
	border: 1px solid var(--secondary);
	width: max-content;
	padding: 0.25rem;
	border-radius: 1rem;
	font-family: "Inter";

	& .option.fixed {
		cursor: pointer;
		background-color: var(--primary);
		padding: 1rem 2rem;
		border-radius: calc(1rem - 0.25rem);
		font-family: "Inter";
		font-size: 16px;
		border: none;
		outline: none;
		height: 1rem;
		transition: transform, filter, background-color;
		transition-duration: 400ms;
	}

	& .option:not(.fixed) {
		cursor: pointer;
		background-color: var(--secondary);
		padding: 1rem 2rem;
		border-radius: calc(1rem - 0.25rem);
		font-family: "Inter";
		font-size: 16px;
		border: none;
		outline: none;
		height: 1rem;
		transition: transform, filter, background-color;
		transition-duration: 400ms;

		&:hover {
			filter: brightness(90%);
		}

		&:not(.chip .option)[selected] {
			display: none;
			background-color: color-mix(in srgb, var(--primary), var(--background) 50%);
		}
	}

	& .option.fixed::before {
		content: "";
		display: inline-block;
		width: 0.5rem;
		height: 0.5rem;
		transition: scale, margin-right, border-right-color, border-bottom-color, rotate;
		transition-duration: 200ms;
		border-right: 3px solid var(--text);
		border-bottom: 3px solid var(--text);
		rotate: 45deg;
		margin-right: 0.5rem;
	}

	&.open .option.fixed::before {
		content: "";
		display: inline-block;
		width: 0.5rem;
		height: 0.5rem;
		transition: scale, margin-right, border-right-color, border-bottom-color, rotate;
		transition-duration: 200ms;
		border-right: 3px solid var(--text);
		border-bottom: 3px solid var(--text);
		rotate: 225deg;
		margin-right: 0.5rem;
	}

	& .unselected {
		position: absolute;
		top: 100%;
		left: -1px;
		width: calc( 100% - 0.5rem );
		padding: 0.25rem;
		padding-top: 0;
		display: none;
		flex-direction: column;
		gap: 0.25rem;
		background-color: var(--background);
		border: 1px solid var(--secondary);
		border-radius: 0 0 1rem 1rem;
		border-top: none;
	}
	&.open {
		z-index: 2147483646;
		user-select: none;
		border-bottom-color: transparent;
		border-radius: 1rem 1rem 0 0;
		& .unselected {
			display: flex;
			background-color: var(--background);
			border: 1px solid var(--secondary);
			border-radius: 0 0 1rem 1rem;
			border-top: none;
		}
	}
}

.select-option.chip,
.select-options.chip {
	display: inline-flex;
	flex-direction: row;
	gap: 0.25rem;
	& .option {
		padding: 0.25rem 1rem;
		border-radius: 0.5rem;
		border: 1px solid var(--secondary);
		cursor: pointer;
		
		&[selected] {
			background-color: var(--primary);
			&::before {
				border-right-color: var(--text);
				border-bottom-color: var(--text);
				rotate: 45deg;
				scale: 1;
				margin-right: 0.5rem;
			}
		}
	}
}

.select-options .option,
.select-option.chip .option {

	&::before {
		content: "";
		display: inline-block;
		width: 0.5rem;
		height: 1rem;
		transition: scale, margin-right, border-right-color, border-bottom-color, rotate;
		transition-duration: 200ms;
		border-right: 3px solid transparent;
		border-bottom: 3px solid transparent;
		rotate: 45deg;
		margin-right: -0.5rem;
		scale: 0;
	}

	&[selected] {
		background-color: var(--primary);

		&::before {
			border-right-color: var(--text);
			border-bottom-color: var(--text);
			rotate: 45deg;
			scale: 1;
			margin-right: 0.5rem;
		}
	}
}

.keyboard-key {
	background: var(--secondary);
	display: inline-block;
	padding: 0.25rem;
	border-radius: 0.25rem;
	box-shadow: 0 0.25rem 0 0 color-mix(in srgb, var(--secondary), var(--primary) 25%);
	transition: translate, box-shadow;
	transition-duration: 100ms;
	cursor: pointer;

	&:active {
		translate: 0 0.25rem;
		box-shadow: 0 0px 0 0 color-mix(in srgb, var(--secondary), var(--primary) 25%);
	}
}

a:is([href], [onclick]) {
	cursor: pointer;
	text-decoration: underline;
	padding: 1rem 1rem;
	background-color: transparent;
	color: var(--text);
	border-radius: 0.5rem;
	transition: background-color;
	transition-duration: 300ms;

	:hover {
		background-color: var(--secondary);
	}
}


button,
.button {
	padding: 0.5rem 1rem;
	border-radius: 1rem;
	outline: none;
	border: none;
	background-color: color-mix(in srgb, var(--primary), var(--background) 50%);
}

button.elevated,
.button-elevated {}

input[role=switch] {

	--background-off: var(--background);
	--background-on: var(--primary);
	--dot-colour-off: var(--primary);
	--dot-colour-on: var(--secondary);
	--border-off: 3px solid color-mix(in srgb, var(--background) 10.2%, transparent);
	--border-on: 3px solid color-mix(in srgb, var(--background) 10.2%, transparent);
  
	--time: 300ms;
	--dot-size: 1rem;
	--dot-margin: 0.2rem;
	--border-thickness: 0.2rem;
	--border-color: var(--text);
	position: relative;
	appearance: none;
	box-sizing: border-box;
	border: var(--border-off);
	box-sizing: content-box;
	width: calc( var(--dot-size) * 3 );
	height: var(--dot-size);
	padding: var(--dot-margin);
	border-radius: var(--dot-size);
	overflow: hidden;
	background: var(--background-off);
	transition: background, border;
	transition-duration: var(--time);
	cursor: pointer;
  
	box-shadow: var(--component-shadow);
}

input[role=switch]:before {
	content: "";
	position: relative;
	display: inline-block;
	left: 0px;
	width: var(--dot-size);
	height: var(--dot-size);
	background: var(--dot-colour-off);
	border-radius: calc(var(--dot-size) / 2);
	transition: width, left, background;
	transition-duration: var(--time);
}

input[role=switch]:checked {
	background: var(--background-on);
	border: var(--border-on);
}

input[role=switch]:checked:before {
	left: calc( var(--dot-size) * 2 );
	background: var(--dot-colour-on);
}

input[role=switch]:not([disabled]):active:before {
	width: calc( var(--dot-size) * 1.5 );
}
input[role=switch]:not([disabled]):active:checked:before {
	left: calc( var(--dot-size) * 1.5 );
}

input[role=switch][disabled] {
	filter: saturate(50%);
	cursor: not-allowed;
}

nav {
	position: fixed;
	box-sizing: border-box;
	top: 0px;
	left: 0px;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 1rem 10%;
	background-color: var(--background);
	box-shadow: 0 -20px 20px 1px #0000001A, 0 0 0 0px #0000001A;
	transition: box-shadow, padding;
	transition-duration: 300ms;
	z-index: 2147483647;
}

nav div {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: max-content;
	gap: 1rem;
}

:root.scroll nav {
	box-shadow: var(--component-shadow);
	padding: 0.5rem 12%;
}

#theme-switch {
	display: inline-block;
	transition: scale 200ms;
	cursor: pointer;
}
#theme-switch:active {
	scale: 0.8;
}

:root:is([data-theme="light"], :not([data-theme])) .show-if-dark {
	display: none;
}
:root[data-theme="dark"] .show-if-light {
	display: none;
}

input[role=switch] {

	--background-off: var(--background);
	--background-on: var(--primary);
	--dot-colour-off: var(--primary);
	--dot-colour-on: var(--secondary);
	--border-off: 3px solid color-mix(in srgb, var(--background) 10.2%, transparent);
	--border-on: 3px solid color-mix(in srgb, var(--background) 10.2%, transparent);

	--time: 300ms;
	--dot-size: 1rem;
	--dot-margin: 0.2rem;
	--border-thickness: 0.2rem;
	--border-color: var(--text);

	user-select: none;
	position: relative;
	touch-action: click;
	appearance: none;
	box-sizing: border-box;
	border: var(--border-off);
	box-sizing: content-box;
	width: calc( var(--dot-size) * 3 );
	height: var(--dot-size);
	padding: var(--dot-margin);
	border-radius: var(--dot-size);
	overflow: hidden;
	background: var(--background-off);
	transition: background, border;
	transition-duration: var(--time);
	cursor: pointer;
	box-shadow: var(--component-shadow);
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-touch-callout: none;
}

input[role=switch]:before {
	content: "";
	position: relative;
	display: inline-block;
	left: 0px;
	width: var(--dot-size);
	height: var(--dot-size);
	background: var(--dot-colour-off);
	border-radius: calc(var(--dot-size) / 2);
	transition: width, left, background;
	transition-duration: var(--time);
}

input[role=switch]:checked {
	background: var(--background-on);
	border: var(--border-on);
}

input[role=switch]:checked:before {
	left: calc( var(--dot-size) * 2 );
	background: var(--dot-colour-on);
}

input[role=switch]:not([disabled]):active:before {
	width: calc( var(--dot-size) * 1.5 );
}
input[role=switch]:not([disabled], :disabled):active:checked:before {
	left: calc( var(--dot-size) * 1.5 );
}

input[role=switch]:is([disabled], :disabled) {
	filter: saturate(50%);
	cursor: not-allowed;
}

button, .button {
	position: relative;
	cursor: pointer;
	border: none;
	padding: 0.75rem 1.75rem;
	background-color: transparent;
	transition: filter;
	transition-duration: 300ms;
	border-radius: 1rem;
	box-shadow: var(--component-shadow), inset 0 0 0 3px color-mix(in srgb, var(--background) 10.2%, transparent);
	box-sizing: border-box;
	color: var(--text);
	width: max-content;
	margin: 0.5rem 0.25rem;
}

button:before, .button:before {
	content: "";
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: var(--primary);
	box-sizing: padding-box;
	border-radius: inherit;
	z-index: -1;
	transition: filter, opacity;
	transition-duration: 300ms;
}

button:is([disabled], :disabled),
.button:is([disabled], :disabled) {
	cursor: not-allowed;
}

button:is([disabled], :disabled):before,
.button:is([disabled], :disabled):before {
	opacity: 0.25;
}

button:not([disabled], :disabled):active:before,
.button:not([disabled], :disabled):active:before {
	filter: brightness(110%);
}

button.secondary:before,
.button.secondary:before {
	background-color: var(--secondary);
}

button.success:before,
.button.success:before {
	background-color: var(--success);
}

button.destructive:before,
.button.destructive:before {
	background-color: var(--destructive);
}